@import
url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

html {
    scroll-behavior: smooth;
}

#gradient {
    background-image: linear-gradient(#cc99ff, #ffccff);
}

p {
    font-family: 'Merriweather';
    font-weight: 400;
}

/* Landing */
#landing {
    /* background-color: #cfa8d5; */
    height: 100vh;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.subtitle {
    font-size: 30px;
    font-family: 'Merriweather';
    font-weight: 300;
}

/* Second section */



.folders {
    height: 10rem;
    width: 10rem;
}

#click-here {
    left:8.5rem;
    top:25rem;
}

.click {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


/* Projects */
.proj-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.card-title {
    font-family: "Merriweather";
}

.card.border-primary {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-width: 10px;
}

.winner {
    text-decoration: none;
    color: gold;
}


/* Art */
.artwork {
    max-width: 100%;
    max-height: 100%;
    
}



/* Footer */
.far {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffccff;
    background: #cc99ff;
  }
  .far:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffccff;
    background: #cc99ff;
  }
  .fab:hover {
    opacity: 0.7;
    text-decoration: none;
}
